<div class="btn-group-vertical btn-block" >
  <%= link_to "Staff list", staffs_path, class: "btn btn-secondary" %>
  <hr>
  <% if admin? %>
    <p>この下はAdmin staffのみ閲覧と管理ができる</p>
    <%= link_to "Create new staff", new_staff_path, class: "btn btn-secondary" %>
    <%= link_to "Update staffs' information from MEMBERs' data", update_staffs_staffs_path, method: "post", class: "btn btn-secondary" %>
  <% end %>
</div>
