<div class="row">
  <div class="col-md-2">
    <%= render 'side' %>
  </div>

  <div class="col">
    <h2>Staff情報</h2>

    <fieldset disabled="disabled">
      <%= render 'form'%>
    </fieldset>

    <div class="row">
      <%= link_to "編集", edit_staff_path(@staff), class: 'btn btn-info col-sm-4' %>
      <% if admin? %>
        <%= link_to "Destroy", staff_path(@staff), class: 'btn btn-danger offset-sm-1 col-sm-4',
                    method: :delete, data: { confirm: "Delete, Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>
