<% content_for :title, 'Contact us' %>

<div class="container">
  <h1>お問い合わせ/Contact us</h1>

  <br>

  <% if @after_submit %>
    <h3>正常に送信されました!/Sent success fully!</h3>
  <% else %>
    <%= render 'contacts/form' %>

    <hr>

    <h3>または、ソーシャルアカウントでお問い合わせ / or, contact via social account</h3>
    <%= link_to tag.i(class: 'fab fa-facebook-square')+' facebook', 'https://facebook.com/GTICafe', class: 'btn btn-primary', target: 'blank' %>
  <% end %>

</div>
