<h5>イベント参加をキャンセルします。よろしいでようか？Deregister the event. Are you sure?</h5>
<%= link_to t('confirm'), deregister_event_path(event_id: params[:event_id], member_id: params[:member_id]), method: 'post', class: 'btn btn-primary' %>
<%= link_to t('cancel'), event_detail_path(event_id: params[:event_id]), class: 'btn btn-info' %>
