<div class="full-width-image">
  <div class="logo-wrapper">
    <%= image_tag '../logo1200x1200.png' %>
    <h1>「よりオープンに、よりグローバルに、よりイノベイティブに、<br>
      ベンチャー、起業、スタートアップ、イノベーションを考えよう！」</h1>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><span class="glyphicon glyphicon-globe"></span> 本会議</h3>
        <p>毎月都内でベンチャー企業によるプレゼンテーションを開催しています。</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><span class="glyphicon glyphicon-edit"></span> 分科会</h3>
        <p>不定期でビジネスマンに役立つ勉強会を開催しています。</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><span class="glyphicon glyphicon-link"></span> 懇親会</h3>
        <p>会議の後はビールと軽食を片手にプレゼンター、参加者が歓談します。</p>
      </div>
    </div>
  </div>
</div>
