<div class = "section">
  <div class = "container"><br><br>
  <h1>メディアに取材してもらいたい方へ</h1><br>
  <br>
    <div align = center>
     <img src="/assets/media_introduce.png" height="75%" width="75%" />
    </div><br><br>
    <div align = center>
    <h3></h3><br>
<h3>ご興味ある企業の担当者様は<a href = "https://www.facebook.com/GTICafe">GTIC　Facebookページ</a>よりご連絡ください。</h3><br>
    </div>
</div>
</div>
<br><br><br><br>