<div class="section">
  <div class="container">
    <h1>MESSAGE <small>FROM THE CHIEF ORGANIZER</small></h1>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= image_tag "https://graph.facebook.com/1192373388/picture?type=large" %>
        
        <h2>秋山 智紀  GTIC Chief Organizer</h2>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="well well-small">
          <p>
          僕が”多様性”を重視するようになったきっかけは、マサチューセッツ工科大学（MIT）のビジネススクールへの留学でした。クラス初日に教室に入ると、様々な色の肌や髪。しかもユダヤ教のキッパなど、宗教的な帽子を頭に付けている人たち・・・それまでの僕は、そのような光景を見たことがありませんでした。小学校から高校までは、クラスメイトは全員日本人でしたし、僕が通った日本の大学や大学院には外国からの留学生はいたものの、ごくわずかでした。 
          </p>
          <p>
          一方MITビジネススクールで外国人学生が占める割合は、僕が在籍していた当時で約３８％。先日来日していた学長に直接聞いたところ、今では４２％まで上昇しているとのことでした。これはアメリカの大学の中でも特に高い比率なのですが、つまりは最前線で活躍する、または最近まで活躍していた、世界中から集まった多くのビジネスマンたちが一同に会して、丁々発止の議論をするわけです。MIT時代に僕が所属したスタディーグループ、つまりクラスの中の班のようなものですが、７人いたメンバーの国籍はアメリカ、ブラジル、ベネズエラ、南アフリカ、そして日本でした。彼らからは、斬新と言えば聞こえは良いけども、奇抜なアイデアが突拍子の無いタイミングで出てくる。逆に日本人にとっては当たり前のことが、彼らにとっては当たり前ではなかったり・・・そんなことがよくありました。 
          </p>
          <p>
          また、僕がかつて在籍していた外資系投資銀行では、毎日カンファレンス・コール（電話会議）をしていました。夏時間と冬時間では違いますが、東京の夕方４時または５時頃、つまりユーロ市場が開く時間に、世界各都市のオフィスの外国人の同僚たちと電話会議で意見交換をしました。それにより世界のマーケットでどんなディール（取引）が儲かっているのかが、毎日リアルタイムで把握できました。また、多い時には月に５回も海外出張に行っていたこともありました。 
          </p>
          <p>
          正直言って、国籍や年齢を含め、多種多様な人々が集まるイベントやミーティングに母国語以外の言語で参加することに、時々疲れを感じます。バックグラウンドは違うし、常識も違うから、ストレスも想像以上に溜まります。先ほど申し上げた、GTICでのイスラム教徒の方々のためのハラル料理の用意も結構大変です。でもそういった多様性の集まりの中でのコミュニケーションから、時々「へえー！」と思うアイデアに遭遇するものです。 
          </p>
          <p>
          「はちゃめちゃ」なアイデアや破壊的創造につながるアイデアは、同質の日本人同士や同じバックグラウンドを持つメンバーからは生まれにくい。「あうんの呼吸」とか「これを言ったらちょっと失礼になるかも」「今更、恥ずかしくて聞けない」などと言っていては、世界をあっと言わせるアイデアは出て来ないと思います。
          </p>
          <%= link_to "出典：My Eyes Tokyo", "http://www.myeyestokyo.jp/4464", target: :blank %>
        </div>
      </div>
    </div>
    <h1>Organizer</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Affiliation</th>
      </tr>
      <tr>
        <td>秋山智紀Tomo AKIYAMA</td>
        <td>Venture Capitalist、MIT経営大学院(MBA)終了, 東工大電気電子専攻終了（工学修士)</td>
      </tr>
      <tr>
        <td>松井彩Aya MATSUI</td>
        <td>サイエンスコミニュケーター、東工大生体システム専攻修了（理学修士）</td>
      </tr>
      <tr>
        <td>清水雅士 Masashi Shimizu</td>
        <td>東京理科大生物工学専攻修了（工学修士)</td>
      </tr>
      <tr>
        <td>大森崇弘 Takahiro Ohmori</td>
        <td>東京大学工学研究科修了 (工学修士)</td>
      </tr>
      <tr>
        <td>菅原史法 Fuminori Sugawara</td>
        <td>東京農工大学工学府機械システム工学専攻修了（工学修士）, ResiCal代表</td>
      </tr>
      <tr>
        <td>山賀美裕 Miyu Yamaga</td>
        <td>専修大学経営学部 在籍中</td>
      </tr>
    </table>
  </div>
</div>
