<div class = "section">
  <div class = "container"><br><br>
  <h1>SERVICE</h1><br>
  <h3>　　　　GTICではイベントの開催以外にも、スタートアップの支援に積極的に取り組んでおります。</h3><br><br>
  <h3>　　　　　○メディア紹介企業への仲介</h3><br>
    <div align = center>
     <img src="/assets/media_introduce.png" height="75%" width="75%" />
    </div>
</div>
</div>
<br><br><br>

<hr size = "100" color = "#ff6666">