<div class="btn-group-vertical btn-block" >
  <%= link_to "My page", user_path(current_user), class: "btn btn-secondary" %>
  <div style="height: 4px;"></div>
  <%= link_to "Register to events", show_events_users_path(), class: "btn btn-secondary" %>
</div>
