<div class="btn-group-vertical btn-block" >
  <%= link_to "My page", user_path(current_user), class: "btn btn-secondary" %>
  <div style="height: 4px;"></div>
  <%= link_to "Find events", event_list_path, class: "btn btn-secondary" %>
</div>
