<div class="row">
  <aside class="col-lg-2">
  </aside>

  <div class="col-lg-10">
    <h2>User情報</h2>

    <table class="table table-bordered">
      <tr>
        <th class="col-md-1">ID</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-1">Facebook ID</th>
        <th class="col-md-1">Member ID</th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.uid %></td>
          <td><%#= link_to user.member_id, "/members/#{user.member_id}" %></td>
          <td><%= link_to "編集", edit_user_path(user) %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
