<div class="row">
  <aside class="col-lg-2">
  </aside>
  <div class="col-lg-10">
    <h2>User情報</h2>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Admin</th>
        <td><%= @user.admin %></td>
      </tr>
      <tr>
        <th>Language</th>
        <td><%= show_language(@user.language) %></td>
      </tr>
    </table>
  </div>
</div>
