<div class="row-fluid">
  <aside class="span4">
    <h2>メンバー情報</h2>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
    </table>

  </aside>
  <div class="span8">
  </div>
</div>
