<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p><%= @member.last_name %> 様</p>
  <p></p>
  <p><%= simple_format(@invitation.content) %></p>
  </body>
</html>
