<div class="btn-group btn-group-vertical btn-block" >
  <%= link_to 'イベント一覧', events_path, class: "btn btn-default btn-block" %>
  <%= link_to "イベント登録/CSV読込", new_event_path, class: "btn btn-default btn-block" %>
  <%= link_to "会場管理", places_path, class: "btn btn-default btn-block" %>
</div>
