<div class="row">
  <aside class="col-lg-2">
    <section>
      <%= render'side' %>
    </section>
    <% if params[:id].present? %>
      <section>
        <%= render"side_info" %>
      </section>
    <% end %>
  </aside>
  <div id="ajax-container">
    <%= render "account" %>
  </div>
</div> 
