<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
  </aside>
  <div class="span10">
    <h2>出席をキャンセルしたメンバー</h2>
    <%= render 'members' %>
  </div>
</div>
