<div class="row-fluid">
  <aside class="span3">
    <section>
      <%= render'layouts/side' %>
    </section>
    <section>
      <%= render'events/side' %>
    </section>
    <section class="well well-small">
      <%= render 'import_participants' %>
    </section>
  </aside>
  <div class="span9">
    <h2>出席をキャンセルしたメンバー</h2>
    <%= render 'members' %>
  </div>
</div>
