<div class='container-fluid'>

  <div class="row">
    <div class="col-sm-2" id="side-nav">
      <%= render'side' %>
    </div>

    <div class="col">
      <h2>ドタキャンリスト</h2>

      <div id="ajax_container">
        <%= render 'members' %>
      </div>
    </div>
  </div>

</div>
