<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
  </aside>
  <div class="span5">
    <%= render 'event_form' %>
    <%= link_to '削除', @event, value:@event.id, method: :delete, class: 'btn btn-large btn-block btn-warning', data: {confirm: "削除してもよろしいですか？"} %>

  </div>
</div>

