<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'side' %>
    </section>
  </aside>
  <div class="span10">
    <h2>イベント一覧</h2>
    <%= render 'events' %>
  </div>
</div> 
