<div class="row-fluid">
  <aside class="span3">
    <section>
      <%= render'layouts/side' %>
    </section>
    <section>
      <%= render'events/side' %>
    </section>
  </aside>
  <div class="span9">
    <h2>招待済みメンバー一覧</h2>
    <%= render'members' %>
  </div>
</div>
