<div class="row">
  <aside class="span4">
    <section>
      <%= render'layouts/side' %>
    </section>
    <section>
      <%= render'events/side' %>
    </section>
  </aside>
  <div class="span8">
    <%= render'invited_members' %>
  </div>
</div>
