<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'layouts/side' %>
    </section>
    <section>
      <%= render'invitations/invitation_form' %>
    </section>
    <section class="well well-small">
      <%= render 'import_participants' %>
    </section>
  </aside>
  <div class="col-md-10">
    <%= render 'participants' %>
  </div>
</div>
