<div class="row">
  <aside class="span4">
    <section>
      <%= render'layouts/side' %>
    </section>
    <section>
      <%= render'events/side' %>
    </section>
    <section>
      <%= link_to '全メンバー招待', change_all_connection_event_path, :method => :post, :class => "btn btn-large btn-block btn-primary" %>
    </section>
  </aside>
  <div class="span8">
    <h2>メンバー一覧</h2>
    <%= render'members' %>
  </div>
</div>
