<div class="row">
  <aside class="span4">
    <section>
      <%= render'layouts/side' %>
    </section>
  </aside>
  <div class="span8">
    <h2>イベント登録</h2>
    <%= render'event_form' %>
  </div>
</div>
