<div class='container-fluid'>

  <div class="row">
    <div class="col-sm-2">
      <%= render 'side' %>
    </div>

    <div class="col">
      <h2>イベント登録</h2>

      <%= render 'form' %>
    </div>
  </div>

</div>
