<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <div id="side-nav">
        <%= render'side_info' %>
      </div>
    </section>
  </aside>
  <div class="col-md-10">
    <div id="ajax_container">
      <%= render 'members' %>
    </div>
  </div>
</div>
