<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
     <section class="well well-small">
      <%= render 'import_registed_members' %>
    </section>
  </aside>
  <div class="span10">
    <div id="ajax_container">
      <%= render'members' %>
    </div>
  </div>
</div>
