<div class="row">
  <aside class="span4">
    <section>
      <%= render'layouts/side' %>
    </section>
    <section>
      <%= render'events/side' %>
    </section>
    <section>
      <%= link_to 'イベント情報編集', edit_event_path(@event), class: "btn btn-block btn-large btn-primary" %>
    </section>
  </aside>
  <div class="span8">
    <h2>イベント情報</h2>
    <%= render'event_info' %>
  </div>
</div>
