<div class="row">
  <aside class="span5">
    <section>
      <%= render'event_info' %>
    </section>
    <section class="well well-small">
      <%= render 'import_participants' %>
    </section>
  </aside>
  <div class="span7">
    <%= render 'participants' %>
  </div>
</div>
