<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
  </aside>
  <div class="span10">
    <%= render'waiting_members' %>
  </div>
</div>

