<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
  </aside>
  <div class="span10">
    <h2>招待待ちメンバー一覧</h2>
    <%= link_to '全メンバー招待', change_all_waiting_status_event_path, :method => :post %>
    <%= render'members' %>
  </div>
</div>
