<div class="btn-group-vertical" >

  <%= link_to "Sponsor list", sponsors_path, class: "btn btn-secondary" %>
  <div style="height: 4px;"></div>
  <%= link_to "Create new sponsor", new_sponsor_path, class: "btn btn-secondary" %>

</div>
