<div class='container-fluid'>

  <div class="row">
    <div class="col-md-2">
      <%= render 'side' %>
    </div>

    <div class="col">
      <h2>Create new sponsor</h2>
      <%= render 'form' %>
    </div>
  </div>

</div>
