<div class="row">
  <aside class="col-md-2">
    <%= render'side' %>
  </aside>
  <div class="col-md-10">
    <div class="btn-group">
      <%= link_to declined_event_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-th-list"></span> 欠席者一覧
      <% end %>
      <%= link_to update_facebook_event_path, method: "post", class:"btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span> facebook情報更新
      <% end %>
    </div>
    <div id="ajax_container">
      <%= render 'members' %>
    </div>
  </div>
</div>
