<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'side' %>
    </section>
    <section>
      <%= render'side_info' %>
    </section>
  </aside>
  <div class="col-md-10">
    <div id="ajax_container">
      <%= render'waiting_members' %>
    </div>
  </div>
</div>

