<h2><%#= will_paginate @invitations %></h2>
<table class="table table-hover table-bordered table-condensed table-striped ">
  <tr>
    <th class="col-md-3">メールタイトル</th>
    <th class="col-md-5">メール本文</th>
    <th class="col-md-1"></th>
  </tr>

  <% if @invitations.present? %>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= link_to invitation.title, invitation_path(id: invitation.id) %></td>
        <td><%= link_to simple_format(truncate(invitation.content)), invitation_path(id: invitation.id) %></td>
        <td><%= link_to '選択', invitation_path(invitation), class:"btn btn-block btn-primary" %></td>
      </tr>
    <% end %>
  <% end %>
</table>

