<table class="table table-hover table-bordered table-condensed table-striped ">
  <tr>
    <th>メールタイトル</th>
    <th>メール本文</th>
    <th>送信先のグループを選択</th>
  </tr>

  <% if @invitations.present? %>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= link_to invitation.title, invitation_path(id: invitation.id) %></td>
        <td><%= simple_format(truncate(invitation.content)) %></td>
        <td><%= link_to '選択', invitation_path(invitation), class:"btn btn-block btn-primary" %></td>
      </tr>
    <% end %>
  <% end %>
</table>

