<h2><%= will_paginate @invitations %></h2>
<table class="table table-hover table-bordered table-condensed table-striped ">
  <tr>
    <th class="col-md-3">メールタイトル</th>
    <th class="col-md-5">メール本文</th>
    <th class="col-md-1"></th>
  </tr>

  <% @invitations.each do |invitation| %>
    <tr>
      <td><%= link_to invitation.title, event_invitation_path(event_id: @event.id, id: invitation.id) %></td>
      <td><%= simple_format(truncate(invitation.content)) %></td>
      <td><%= link_to '編集', edit_event_invitation_path(@event, invitation), class:"btn btn-block btn-primary" %></td>
    </tr>
  <% end %>
</table>

