<div class="container-fluid">
  <div class="row">
    <aside class="col-md-2">
      <%= render'side' %>
    </aside>

    <div class="col">
      <section>
        <%= render'invitation_form' %>
      </section>
    </div>
  </div>
</div>
