<div class="row">
  <aside class="span4">
    <section>
      <%= render'layouts/side' %>
    </section>
    <section>
      <%= render'events/side' %>
    </section>
    <section>
      <%= link_to "新規イベント案内作成", new_event_invitation_path, class: 
        "btn btn-large btn-primary btn-block" %>
    </section>
  </aside>
  <div class="span8">
    <h2>イベント案内</h2>
    <%= render 'invitations' %>
  </div>
</div> 
