<div class="row">
  <aside class="col-md-2">
    <%= render'side' %>
  </aside>

  <div class="col-md-10">
    <h2>一斉送信メールドラフト</h2>
    <p>ドラフト一つを選択して一斉送信に進む</p>

    <%= render 'invitations' %>

  </div>
</div>
