<div class="row-fluid">
  <aside class="span2">
    <%= render'events/side' %>
    <%= render'events/side_info' %>
  </aside>
  <div class="span5">
    <section>
      <%= render'invitation_form' %>
    </section>
  </div>
</div>
