<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'side' %>
    </section>
  </aside>

  <div class="col-md-10">
    <h2>送信済みメール</h2>

    <%= render 'invitations' %>

  </div>
</div>
