<div class="btn-group-vertical btn-block" >
  <%= link_to "All Manuals", manuals_path, class: "btn btn-secondary" %>
  <div style="height: 4px;"></div>
  <%= link_to "Create new Manual", new_manual_path, class: "btn btn-secondary" %>
  <%= link_to "Attachment Files", attachment_files_path, class: "btn btn-secondary" %>
  <div style="height: 4px;"></div>
  <ul>
    <% @manuals.each do |manual| %>
      <li>
        <%= link_to manual.title, manual_path(manual), class: "btn btn-light btn-block" %>
      </li>
    <% end %>
  </ul>

</div>
