<h1>イベント登録方法</h1>
  <p>gtic.jp画面で</p>
  <%= image_tag("add_event/event00.png", :size => "1366x768") %>
  <p>管理者アプリへ入る。facebookにログインしてないと入れないので注意。</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_event/event01.png", :size => "1366x768") %>
  <p>イベント登録クリック</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_event/event02.png", :size => "1366x768") %>
  <p>facebookのイベントページより必要情報をとって記入。イベントURLは必ず番号で入力すること！！！！！！</p>
  <p>「送信」クリック</p>
  <br>
  <hr>
  <br>
  <%= image_tag("add_event/event03.png", :size => "1366x768") %>
  <p>登録できているか確認</p>
