<div class="container-fluid">
  <div class="row">
    <aside class="col-lg-2">
      <%= render "side", manual: @manual %>
    </aside>

    <div class="col-lg-10">
      <h1>Edit Manual</h1>

      <%= render "form", manual: @manual %>
    </div>
  </div>
</div>
