<div class="row">
  <aside class="col-lg-2">
    <%= render "side", manual: @manual %>
  </aside>

  <div class="col-lg-5">
    <h1>Manuals/マニュアル</h1>

    <p>このページでマニュアル作成と閲覧ができます。マニュアルはブログを書くような感じで<a href="https://techacademy.jp/magazine/4843">HTML</a>/CSS形式で書きます。</p>

    <h3>管理メニュー説明</h3>
    <p>このメニューはGTICスタッフしか見れない</p>
    <ul>
      <li>Events管理: GTICのイベント</li>
      <li>Members管理: GTIC参加者の情報データベース。HPに自動反映する</li>
      <li>メール機能: gtic.information で、メンバーたちに一斉メール送信機能</li>
      <li>Media Article管理: 記事などを管理。HPに自動反映する</li>
      <li>Staffリスト: スタッフリスト</li>
      <li>Userリスト: Facebookログインしたユーザのリスト</li>
    </ul>
    <hr>

    <h3>その他</h3>
    <ul>
      <% @manuals.each do |manual| %>
        <li>
          <%= link_to manual.title, manual %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
