<div class="row">
  <div class="col-lg-10">
    <h1>マニュアル</h1>
      <a href="/manuals/add_event">イベント登録方法</a>
    <br>
    <hr>
    <br>
      <a href="/manuals/add_presentation">プレゼンたー及びプレゼンテーション登録方法</a>
    <br>
    <hr>
    <br>
        
      <p>作製中</p>

        


  </div>
</div>

