<div class="btn-group-vertical">

  <%= link_to "一斉送信用文面新規作成", new_broadcast_path(), class: "btn btn-secondary" %>
  <div style="height: 4px;"></div>
  <%= link_to "送信前ドラフト", broadcasts_path(), class: "btn btn-secondary" %>
  <%= link_to "送信済み", sent_list_broadcasts_path(), class: "btn btn-secondary" %>

</div>
