<div class="btn-group-vertical btn-block" >
  <%= link_to "記事リスト", media_articles_path(), class: "btn btn-secondary" %>
  <div style="height: 4px;"></div>
  <%= link_to "新規作成", new_media_article_path(), class: "btn btn-secondary" %>
</div>
