<div id="side-nav">
  <section>
    <div class="btn-group-vertical btn-block" >
      <%= link_to "新規作成", new_media_article_path(), class: "btn btn-light  btn-block" %>
    </div>
  </section>
</div>
