<div class='container-fluid'>

  <div class="row">
    <aside class="col-md-2">
      <%= render 'side' %>
    </aside>

    <div class="col">
      <h2>Create Media Article</h2>

      <%= render 'form' %>
    </div>
  </div>

</div>
