<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Welcome to Global Techno Innovation Cafe, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Global Techno Innovation Cafe.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

    <small>
      This is send-only email. If you have any question, please send to gtic.information@gmail.com
    </small>
  </body>
</html>
