/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* global setting */
html {
  overflow-y: scroll;
}

body {
  padding-top: 56px;
  background: url(asset_path("fabric_of_squares_gray.png"));
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */
.nav {
    margin-top: 6px;
}

/* static page */
/* home */
.my-home-head::after {
    content: "";
    background-image: url(asset_path("bg_image_01.png"));
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* logo-wrapper */
.logo-wrapper{
  display: inline-block;
  background-color: rgba(245, 245, 245, 0.6);
  padding: 10px 10px;
}

/* table */
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    vertical-align: middle;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .9;
  border-radius: .2rem;
}

.currency{
  text-align: right;
}

/* fb_user_icon */
.fb_user_icon{
  width: 30px;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left; margin-right: 10px;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error !optional;
}

.td-nowrap{
  white-space: nowrap;
}
