<h2>参加イベント</h2>
<table class="table table-bordered table-hover">
  <tr>
    <th>イベント名</th>
    <th>開催日</th>
    <th>Role</th>
  </tr>
  <% @member.registed_events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event_path(event) %></td>
      <td><%= event.start_time.strftime("%Y/%m/%d") %></td>
      <td><%= show_role(@member,event) %></td> 
    </tr>
  <% end %>
</table>

