<h2><%= "#{@member.last_name} #{@member.first_name} さんの情報" %></h2>
<%= link_to 'メンバー情報', member_path(@member), class: "btn btn-large btn-block"%>
<%= link_to '参加イベント', participated_member_path(@member), class: "btn btn-large btn-block"%>
