<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'members/side' %>
    </section>
    <section>
      <%= render'members/side_info' %>
    </section>
  </aside>
  <div class="col-md-10">
    <%= render 'member_form' %>
    <div class="col-md-offset-2">
      <%= link_to '削除', @member, value:@member.id, method: :delete, class: 'btn btn-large btn-warning', data: {confirm: "削除してもよろしいですか？"} %>
    </div>
  </div>
</div>

