<div class="row">
  <aside class="col-md-2">
    <section>
      <%= render'members/side' %>
    </section>
    <section>
      <%= render'members/side_info' %>
    </section>
  </aside>
  <div class="col-md-10">
    <%= render 'member_form' %>
  </div>
</div>

