<div class="row-fluid">
  <aside class="span2">
    <section>
      <%= render'members/side' %>
    </section>
  </aside>
  <div class="span10">
    <%= link_to 'ダウンロード', members_path(format: 'xls'), class: "btn btn-primary" %>
    <%= render'members' %>
  </div>
</div> 
