<div class="row">
  <aside class="span4">
    <section>
      <%= render'members/side' %>
    </section>
    <section>
      <%= render'members/side_info' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'participated_events' %>
  </div>
</div>

