<div class="row">
  <div class="col-md-2">
    <section>
      <%= render'members/side' %>
    </section>
  </div>

  <div class="col-md-10">
    <h2>Participated List</h2>
    <div id="ajax_container">
      <%= render'participated_events_list' %>
    </div>
  </div>
</div>
